.ld-rl { background-image:url(page_refresh.png);}
.ld-icon-chs{background:url(database_refresh.png) no-repeat transparent;}
.ld-icon-run{background:url(r.png) no-repeat transparent;}
.ld-icon-quit{background:url(q.png) no-repeat transparent;}
.ld-icon-go{background:url(g.png) no-repeat transparent;}
.ld-icon-stop{background:url(s.png) no-repeat transparent;}
.ld-icon-chan{background:url(page_link.png) no-repeat transparent;}
.ld-icon-test{background:url(spellcheck.png) no-repeat transparent;}
.rotate{
transition-duration: 0.8s;
transition-property: transform;
overflow: hidden;
}
.rotate:hover{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
