.ld-rl { background-image:url(page_refresh.png);}
.ld-icon-chs{background:url(database_refresh.png) no-repeat transparent;}
.rotate{
transition-duration: 0.8s;
transition-property: transform;
overflow: hidden;
}
.rotate:hover{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
